<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
        <link href="./static/styles.css" rel="stylesheet">
        <title>Kid tester</title>


    </head>
    <body>
        <!-- hello, homepage -->

        <header>
          <!-- <div class="navbar bg-dark" id="navbarHeader">
          </div> -->
          <div class="navbar navbar-dark bg-dark shadow-sm justify-content-center" id="navbarHeader" >
            <div class="container justify-content-center">
              <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="static/images/LARKHAUS_Final_LogoMarks_Primary_Wordmark_White.png" height="45" fill="none" class="me-2" viewBox="0 0 24 24" fill="#AB7C94">

              </a>
            </div>
          </div>
        </header>

        <main>

            <section class="py-4 text-center container">
                <div class="row py-lg-2">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Grid Generator</h1>
                    <h4 class="fw-light">v.0.1</h4>
                    <a href="/download" class="btn btn-primary my-2">Download</a>
                    
                </div>
                </div>
            </section>
            
            <div class="section2 text-center container">
              <div class="row py-lg-2">
                <div class="mx-auto">
                  <div class="kidcontainer">
                    <img src="{{ grid }}"; width="80%">
                  </div>
                </div>
              </div>
            </div>
                
        </main>

        <footer class="text-muted py-5">
          <div class="container">
            <p class="mb-0 align-items-center" style="text-align: center" >App in development for JC</p>
          </div>
        </footer>


    </body>
</html>
