<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Fort Gotten Picker</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <a href="/">
                <img src="static/images/fort-gotten-new-logo-white.png" width="100px">
            </a>
        </div>
        {% block body %}{% endblock %}
        <script src="/static/pagination.js"></script>
    </body>
</html>
