{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <div class="section1">

            <h1>Kidz submitted</h1>
            <button class="dwnBtn" type="button" onclick="tableToCSV()">
                download CSV
            </button>
            <table>
                <thead>
                    <tr>
                        <th>Kid</th>
                        <th>back</th>
                        <th>straps</th>
                        <th>eyes</th>
                        <th>mouth</th>
                        <th>nose</th>
                        <th>facedecoration</th>
                        <th>face1</th>
                        <th>face2</th>
                        <th>hair</th>
                        <th>deregister action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for kid in kidz %}
                    <tr>
                        <td>{{ kid.kidasset }}</td>
                        <td>{{ kid.back }}</td>
                        <td>{{ kid.straps }}</td>
                        <td>{{ kid.eyes }}</td>
                        <td>{{ kid.mouth }}</td>
                        <td>{{ kid.nose }}</td>
                        <td>{{ kid.facedecoration }}</td>
                        <td>{{ kid.facetrait1 }}</td>
                        <td>{{ kid.facetrait2 }}</td>
                        <td>{{ kid.hair }}</td>
                        <td>
                            <form action="/deregister" method="post">
                                <input name="id" type="hidden" value="{{ kid.id }}">
                                <input type="submit" value="Deregister">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        function downloadCSVFile(csv_data) {
            // Create CSV file object and feed our
            // csv_data into it
            CSVFile = new Blob([csv_data], { type: "text/csv" });

            // Create to temporary link to initiate
            // download process
            var temp_link = document.createElement('a');

            // Download csv file
            temp_link.download = "KidList.csv";
            var url = window.URL.createObjectURL(CSVFile);
            temp_link.href = url;

            // This link should not be displayed
            temp_link.style.display = "none";
            document.body.appendChild(temp_link);

            // Automatically click the link to trigger download
            temp_link.click();
            document.body.removeChild(temp_link);
        }

        function tableToCSV() {
            
            // Variable to store the final csv data
            var csv_data = [];

            // Get each row data
            var rows = document.getElementsByTagName('tr');
            for (var i = 0; i < rows.length; i++) {

                // Get each column data
                var cols = rows[i].querySelectorAll('td,th');

                // Stores each csv row data
                var csvrow = [];
                for (var j = 0; j < cols.length; j++) {

                    // Get the text data of each cell
                    // of a row and push it to csvrow
                    csvrow.push(cols[j].innerHTML);
                }

                // Combine each column value with comma
                csv_data.push(csvrow.join(","));
            }

            // Combine each row data with new line character
            csv_data = csv_data.join('\n');

            // Call this function to download csv file 
            downloadCSVFile(csv_data);

        }

        function downloadCSVFile(csv_data) {

            // Create CSV file object and feed
            // our csv_data into it
            CSVFile = new Blob([csv_data], {
                type: "text/csv"
            });

            // Create to temporary link to initiate
            // download process
            var temp_link = document.createElement('a');

            // Download csv file
            temp_link.download = "KidList.csv";
            var url = window.URL.createObjectURL(CSVFile);
            temp_link.href = url;

            // This link should not be displayed
            temp_link.style.display = "none";
            document.body.appendChild(temp_link);

            // Automatically click the link to
            // trigger download
            temp_link.click();
            document.body.removeChild(temp_link);
        }

        
    </script>
{% endblock %}
